<!-- Page apropos -->
<div class="container-fluid work anchor-about" id="about">
  <!-- <div class="row" id="work"> -->
    <!-- <div class="col-md-12 col-xs-12"> -->
      <!-- <div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <div class="row" id="work">
    <div class="col-md-8 col-xs-8 apropos-top">
      <div class="apropos-masso">
        <h2 class="h2-apropos">Guylaine Lefebvre Massothérapeute</h2>
        <h3 class="h3-apropos">Membre de la Fédération québécoise des massothérapeutes agréés (FQM)</h3>
      </div>
    </div>

    <div class="col-md-4 col-xs-4">
        <h4 class="h4_logo">   <%= image_tag("logo_fqm_2014.jpg", size: "455x175",
          alt: "Edit Entry", class: "logoimg_about logo-FQM")%></h4>
    </div>
  </div>
  <div class="row" id="work">
    <div class="col-md-6 col-xs-6">
      <div class="apropos-masso">
        <h5 class="apropos-masso-h5">Formation :</h5>
        <div class="about-page-indent apropos">
          <h4> <span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;Massage suédois cinétique (Institut Kiné Concept, 2014)</h4>
          <br>
          <h4><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;Massage sur chaise (Institut Kiné Concept, 2015)</h4>
          <br>
          <h4><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;Massage des tissus profonds (Institut Kiné Concept, 2016)</h4>
          <br>
          <h4><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;Massage thaïlandais de la tête et de la nuque (Lotus Palm, 2017)</h4>
          <br>
        </div>
        <h5 class="apropos-masso-h5">Expérience : </h5>
        <div class="about-page-indent">
          <h4>Pratique privée, CHSLD, à domicile.</h4>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-6">
        <div class="image-two">
          <%= image_tag("Masso_Accessoires.jpg", size: "600x300",
          alt: "Edit Entry", class: "img-two img-responsive")%>
    </div>

  </div>
</div>

