<!-- Page articles -->
  <!-- ============================= -->
  <!-- Accordion menu                -->
  <!-- ============================= -->

  <!-- 1ier article - Principaux objectifs de la massothérapie -->
  <div class="panel-group" id="accordion">
    <h2 class="h2_articles">Renseignements utiles (articles, vidéos, etc.)</h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title articles-h5">
          <a id="yves" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-circle-arrow-right"></span> Principaux objectifs de la massothérapie</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="container faq">
            <div class="border-articles">
              <p>« Les principaux objectifs de la massothérapie sont de favoriser la détente (musculaire et nerveuse), la circulation sanguine et lymphatique, l’assimilation et la digestion des aliments, l’élimination des toxines, le bon fonctionnement des organes vitaux et l’éveil à une conscience psychocorporelle. » <cite>site Web de Passeport Santé</cite></p>
              <br>
              <p>Compte tenu de tous ses bienfaits et de ses effets sur l’ensemble de l’organisme, le massage est essentiel au bien-être, en plus d’être un moyen efficace de prévention de multiples troubles de santé.</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- 2e article  -  La place de la massothérapie clinique dans les soins de santé. -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title articles-h5">
          <a class="yves" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-circle-arrow-right"></span>
          La place de la massothérapie clinique dans les soins de santé
          <br>
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="container faq">
            <div class="border-articles">
              <p>La médecine occidentale classique utilise trois modalités thérapeutiques principales : pharmacologie, chirurgie et consultation d’un confrère praticien spécialisé. </p>
              <br>
              <p>Un des problèmes de l’approche des affections musculaires par la médecine classique est qu’il n’existe pas de spécialité dirigée prioritairement sur les muscles.</p>
              <br>
              <p>L’ostéopathie est une approche de la santé qui s’est initialement focalisée sur la manipulation des os et des articulations, mais s’est depuis tournée vers la médecine occidentale classique. Certains ostéopathes sont restés de fervents adeptes de l’examen et du traitement des douleurs par des manipulations articulaires.</p>
              <br>
              <p>La chiropractie s’appuie sur le traitement des articulations, notamment au niveau vertébral, et attribue la douleur à de mauvais alignements des articulations vertébrales qui compriment des racines nerveuses. La kinésithérapie ou physiothérapie se fonde sur l’exercice physique et le mouvement pour restaurer une fonction normale des muscles et des articulations.</p>
              <br>
              <p>La dernière approche est la manipulation directe des tissus mous, qui relève du domaine de la massothérapie clinique.</p>
              <p><cite> (extrait de Massothérapie clinique, 2e édition, J. H. Clay et D. M. Pounds)</cite></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- 3e article - Migraines : Les bienfaits du massage. -->
    <div class="panel panel-default">
      <div class="panel-heading" id="faqPanel">
        <h4 class="panel-title articles-h5">
          <a class="yves" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-circle-arrow-right"></span>
            Migraines : Les bienfaits du massage
          </a>
          <!-- <button data-toggle="collapse" class="btn btn-block" data-target="#collapseThree" data-parent="#accordion">Why would you hire me
          </button>
          -->
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="container faq articles">
            <div class="border-articles">
              <p>L’émergence d’une vision holiste de la santé laisse entrevoir pour l’avenir une meilleure compréhension de la maladie et la possibilité de découvrir des moyens encore méconnus pour favoriser la guérison.</p>
              <br>
              <p class="masso-bold">La massothérapie s’inscrit bien dans ce mouvement.</p>
              <br>
              <p>La personne migraineuse a, de toute évidence, plus de chances de retrouver une meilleure qualité de vie si elle demeure active et si elle cherche des solutions en collaboration avec son massothérapeute.</p>
              <br>
              <p>Celui-ci peut intervenir, entre autres, dans la phase préliminaire, lorsque les symptômes commencent à se manifester, parce que le massage favorise le relâchement des tensions.</p>
              <br>
              <p>Sollicité au cours du massage, le système nerveux central favorise la sécrétion des endorphines, qui ont un rôle à jouer dans la suppression de la douleur.</p>
              <br>
              <p>Une intervention en début de crise augmente les chances de réussite; lorsque la migraine est bien installée, une atténuation de la douleur est possible, mais la crise devra faire son temps.</p>
              <br>
              <p>Par ailleurs, la massothérapie est bénéfique dans la phase finale de la migraine, particulièrement chez les personnes qui éprouvent alors une période de fatigue ou de dépression.</p>
              <br>
              <p>Source : Fédération Québécoise des Massothérapeute agréés</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
