<div class="container-fluid anchor-index" id="index">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h1>Guylaine Lefebvre Massothérapie</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="masso-text-box">
        <h2 class="masso-title">Bienvenue sur mon site</h2>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6 col-xs-6 mission">
        <div class="mission-masso">
          <h5 class="masso-h5">Ma mission : </h5>
          <div class="masso-page-indent">
            <p>Vous faire profiter mes clients des nombreux bienfaits du massage, qui sont de soulager les tensions, restaurer l’amplitude de mouvement, favoriser la détente globale et améliorer le sentiment de mieux-être.</p>
            <br>
            <p>À l’écoute de vos besoins : Chaque individu est unique et présente des besoins particuliers.</p>
            <p>Dans mon programme de soins, je tiens compte de ces besoins et je mets tout en oeuvre pour vous offrr l'expérience la plus relaxante et agréable qui soit: musique, ambiance....</p>
            <br>
            <p>J’estime que chacun mérite de recevoir les soins auxquels elle s’attend, dans le plus grand respect. En tant que massothérapeute, j’ai le privilège de pouvoir contribuer au mieux-être de chacun de mes clients et j’en suis fière.</p>
            <br>
            <h4 class="masso-bold">Vous ressentez des douleurs musculaires? Vous souffrez de migraines ou de maux de tête fréquents? Vous êtes anxieux ou avez de la difficulté à dormir?</h4>
            <br>
            <h4 class="masso-h4 masso-bold">La massothérapie pourrait bien être la solution idéale pour vous.</h4>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-6">
        <div class="image-two">
          <%= image_tag("Mon_Local.jpg", size: "600x300",
          alt: "Edit Entry", class: "img-two img-responsive")%>
       </div>
    </div>
  </div>
</div>