  <!-- Page articles -->
<div class="container-fluid work anchor-tarifs" id="tarifs">

  <div class="row" id="work">
    <div class="col-md-6 col-xs-6 apropos-top">
      <div class="services-masso">
        <h2 class="h2_articles">Aucune promotion en ce moment.</h2>
        <h2>Inscrivez-vous sur la pge Contact pour recevoir les courriels de promotion.</h2>
      </div>
    </div>
  </div>
</div>
