<!-- Page services -->
<div class="container-fluid work anchor-services" id="services">

  <div class="row" id="work">
    <div class="col-md-6 col-xs-6 apropos-top">
      <div class="services-masso">
        <h2 class="h2_apropos">Guylaine Lefebvre, massothérapie</h2>
      </div>
    </div>
  </div>
  <div class="row" id="work">
    <div class="col-md-6 col-xs-6">
      <div class="mission-masso">
        <br>
        <br>
        <h5 class="services-masso-h5">Les soins offerts : </h5>
        <div class="about-page-indent detail-services-masso">
          <p><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Massage thérapeutique </p>
          <br>
          <p><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Massage de détente</p>
          <br>
          <p><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Massage sur chaise</p>
          <br>
          <p><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Massage en milieu hospitalier (p. ex., CHSLD)</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-6">
      <div class="image-two">
        <%= image_tag("Masso_Photo.jpg", size: "600x300",
        alt: "Edit Entry", class: "img-two img-responsive")%>
      </div>
    </div>
  </div>

  <div class="border-articles">
    <div class="row" id="work">
    <!-- <div class="col-md-12 col-xs-12"> -->
      <div class="col-md-3 col-xs-3">

        <h5 class="articles-h5">Le massage suédois cinétique :</h5>
      </div>

      <div class="col-md-9 col-xs-9">

        <p class="services">Il se pratique avec de l’huile, sur une table. La technique englobe les points d’attache musculaires pour favoriser la détente et le relâchement.</p>
      </div>
    </div>
    <br>
    <div class="row" id="work">
          <!-- </div> -->
          <!-- <div class="border-articles"> -->
        <div class="col-md-3 col-xs-3">
          <h5 class="articles-h5"> <strong>Le massage de détente : </strong></h5>
        </div>
        <div class="col-md-9 col-xs-9">
          <p class="services">Il se veut plus global et enveloppant.</p>
        </div>          <!-- </div> -->
    </div>
    <br>

    <div class="row" id="work">
          <!-- <div class="border-articles"> -->
      <div class="col-md-3 col-xs-3">
            <h5 class="articles-h5"><strong>Le massage thérapeutique : </strong></h5>
      </div>
      <div class="col-md-9 col-xs-9">
        <p class="services">Il est plus ciblé, selon la pathologie.</p>
      </div>          <!-- </div> -->
    </div>
    <br>

    <div class="row" id="work">
      <div class="col-md-3 col-xs-3">
        <h5 class="articles-h5"><strong>Le massage des tissus profonds : </strong></h5>
      </div>
      <div class="col-md-9 col-xs-9">
        <p class="services">Il se pratique généralement sans huile et agit sur le fascia; la pression est maintenue plus longtemps, jusqu’au relâchement musculaire complet.</p>
      </div>
    </div>
    <br>

    <div class="row" id="work">
      <div class="col-md-3 col-xs-3">
        <h5 class="articles-h5"> <strong>Le massage sur chaise : </strong></h5>
      </div>
      <div class="col-md-9 col-xs-9">
        <p class="services">Il est pratiqué directement sur les vêtements, sans huile. Ce service est offert en entreprise, à domicile ou lors d’événements corporatifs ou privés.</p>
      </div>
    </div>
    <br>

    <div class="row" id="work">
      <div class="col-md-3 col-xs-3">
        <h5 class="articles-h5"> <strong>Importance du bilan de santé : </strong></h5>
      </div>
      <div class="col-md-9 col-xs-9">
        <p class="services">Il permet de déterminer l’état de santé global du client et les contre-indications au massage afin d’adapter celui-ci pour en optimiser les bienfaits. Tous les renseignements fournis au thérapeute demeurent strictement confidentiels.</p>
      </div>
    </div>

  </div>
</div>

<!-- OLD CODE -->
          <!-- <div class="border-articles"> -->
            <!-- <h5 class="articles-h5"><strong>Le massage des tissus profonds : </strong> -->
              <!-- <span class="services">&nbsp;&nbsp;&nbsp;&nbsp;il se pratique généralement sans huile et agit sur le fascia; la pression est maintenue plus longtemps, jusqu’au relâchement musculaire complet. -->
              <!-- </span> -->
            <!-- </h5> -->
          <!-- </div> -->
