<!-- Page tarifs -->
<div class="container-fluid work anchor-tarifs" id="tarifs">

  <div class="row" id="work">
    <div class="col-md-6 col-xs-6 apropos-top">
      <div class="services-masso">
        <h2 class="h2_apropos">Guylaine Lefebvre, massothérapieeute</h2>
      </div>
    </div>
  </div>
  <div class="row" id="work">
    <div class="col-md-6 col-xs-6">
      <div class="mission-masso">
        <h5 class="services-masso-h5">Tarifs : </h5>
        <div class="about-page-indent detail-services-masso">
          <p>60 minutes : 65 $ </p>
          <br>
          <p>90 minutes : 85 $</p>
          <br>
          <p>Tarif réduit à l’achat de plusieurs séances</p>
          <br>
          <p>Chèques-cadeaux disponibles</p>
          <br>
          <p>Reçus d’assurances</p>
          <br>
          <p>Heures d’ouverture : sur rendez-vous seulement</p>
          <br>
          <p>Contactez-moi au 514 973-6962</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-6">
      <div class="image-two">
        <%= image_tag("Masso_Photo_2.jpg", size: "600x300",
        alt: "Edit Entry", class: "img-two img-responsive")%>
      </div>
    </div>
  </div>
</div>