<div class="panel panel-default thankyou-popup">
  <div class="panel-body">
    <p>Merci de m'écrire! </p>
    <br>
    <p>Votre message a été envoyé. Nous vous répondrons sous peu.</p>
    <br>
    <p>Passez une agréable journée!</p>
  </div>

  <div class="thankyou-button">
    <!-- Back to Product list -->
    <%= button_to "Page Contact", guylaine_masso_contact_path,
      class: 'btn btn-primary btn-sm inline', :method => :get %>

    <!-- Go back HOME-->
    <%= button_to "Page principale", root_path,
      class: 'btn btn-primary btn-sm inline', :method => :get %>
  </div>

</div>
